# System files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Config files
instance/
config.py

# Logs and temp files
logs/
*.log
*.db

# Environment files
.env

# Dependencies
lib/
lib64/
local/
build/
dist/
*.egg-info/
db.sqlite

# Test files
instructions.txt
/_debug